@font-face {

  font-family: 'Motionpicture';

  src: url('./motionpicture.woff') format('woff2'),

    url('./motionpicture.woff') format('woff');

  font-weight: 600;

  font-style: normal;

}

html, body {
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10em;
  background-color: black;
  color: white;
  font-size: 2.5em;
  width: 100%;
  font-family: Motionpicture;
}

#homeMenu:hover{
  color: #f2e599;
}

#menuMenu:hover{
  color: #f2e599;
}

#aboutMenu:hover{
  color: #f2e599;
}

.landing{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2e599;
  color:#968b36;
  font-size: 2em;
  padding: 2em;
}

.landingImage{
  width: 100%;
  height: 1200px;
}

.footer{
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2e599;
    color:#968b36;
    font-size: 2em;
}

.locationImage{
  width: 100%;
}

.container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.pizza{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  width:50%;
  align-items: center;
  font-family: Motionpicture;
  font-size: 1.5em;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1em;
  height: 100%;
}

.pizzaImages{
  max-width: 20em;
  border: 0.1em solid black;
  border-radius: 20% 20%;
  background-color: #f2e599;
}

.cartButtons{
  padding: 2em;
  background-color: #a38548;
  border: 1em hidden;
  border-radius: 20% 20%;
  color: white;
  margin-bottom: 2em;
}
